
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Welcome to xero Python oauth starter{% endif %}</title>
</head>
<body>

<a href="/login">Login</a> |
<a href="/logout">Logout</a> |
<a href="/home">Home</a> |
<a href="/tenants">Tenants</a> |
<a href="/refresh-token">Refresh Token</a> |
<a href="/disconnect">Disconnect</a> |
<a href="/accounting-get-report-profit-and-loss">Profit and Loss</a> |
<a href="accounting-get-report-balance-sheet">Balance Sheet</a>|
{% block content %}{% endblock %}
<!--<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>-->
</body>
</html>